services:
  cvrunner:
    build: 
      context: ..
      dockerfile: environments/Dockerfile
    image: place_holder
    working_dir: /workspace
    env_file:
      - ../.env
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

